@import url('./component/search_bar.css');
body{
    font-family: 'Roboto', sans-serif;
}
:root{
    --white: white;
    --blue-700: #051e34;
    --black: black;
}
/* header */
.dc-header,
nav{
    background-color: var(--white);
    height: 3.75rem;
}
.dc-wid-img{            /*logo*/
    width: 4.0625rem;
}
    /* icone header a destra */
    .dc-end-pos span i{
        color: #5b5858;
    }
    .dc-end-pos .dc-yellow{
        color: #ff8f00;
    }
    /* icone header a destra */
/* header */
/* main */

main{
    height: calc(100vh - 60px);
}

    /* barra di sinistra  */
    .dc-sidebar{
        background-image: url('../img/sidebar-bg.png');
        background-color: var(--blue-700);
        width: 4.1875rem;
        height: calc(100vh - 60px);
    }
    .dc-sidebar p, i{
        color: var(--white);
    }
    /* barra di sinistra  */
    /* parte blu sotto header */
    .dc-bg-blue-300{
        background-color: #1b72e8;
    }
    .dc-padd-ico{       
        padding-left: 1.375rem;
        padding-right: 1.375rem;
    }
    .dc-white h3, p{
        color: var(--white);
    }
    .dc-font-s{     /*font size dell'icona a doppia freccia*/
        font-size: 13px;
    }
    .dc-bg-pad p, 
    .dc-border-rad i{       /*stile paragrafi parte sopra blu*/
        padding: .1875rem .25rem;
        background-color: #165bba;
        border-radius: 20px;
    }
    .dc-border-rad i{
        line-height: 1.5;
    }
    .dc-vert-alig{
        margin-top: 10px;
    }
    .dc-font-s-ico{
        font-size: 45px;
    }
    /* parte blu sotto header */

/* parte sinistra main */
.dc-table-img img{      /*img tabella*/
    width: 30px;
}
.dc-table-ico i{        /*icone tabella*/
    color: #6c757d;
    padding: 8px;
    border: 1px solid #a4a6a7;
    border-radius: 5px;
}
tbody td{           /*larghezza righe*/
    width: 120px;
}
.table{        
    width: 97%;
}
.dc-long-h3{        /*larghezza h3 sopra tabella */
    width: 100%;
    background-color: #f7f7f7;
}
.dc-cent-table,         /*centratura testo tabella*/
tbody td{
    text-align: center;
}

/* parte sinistra main */

/* parte destra main */

/* parte destra main */
/* main */

/* media query parte fissa a sinistra */
@media screen and (min-width: 992px) {
    .dc-sidebar{
        width: 9.375rem;
    }
    .dc-margin{
        margin-right: 107px;
    }
}