@import url('./component/search_bar.css');
body{
    font-family: 'Roboto', sans-serif;
}
:root{
    --white: white;
    --blue-700: #051e34;
    --black: black;
}
/* header */
.dc-header,
nav{
    background-color: var(--white);
    height: 3.75rem;
}
nav, .dc-end-pos{
    justify-content: flex-end;
}
nav, .dc-pos-start{
    justify-content: flex-start;
}
.dc-w-100 {
    width: 100%;
}
.dc-wid-img{
    width: 4.0625rem;
}
/* header */
/* main */
.dc-sidebar{
    background-image: url('../img/sidebar-bg.png');
    background-color: var(--blue-700);
    width: 4.1875rem;
    height: calc(100vh - 60px);
}.dc-sidebar p, i{
    color: var(--white);
}
.dc-bg-blue-300{
    background-color: #1b72e8;
}
.dc-padd-ico{
    padding-left: 1.375rem;
    padding-right: 1.375rem;
}
main{
    height: calc(100vh - 60px);
}
/* main */

/* media query parte fissa a sinistra */
@media screen and (min-width: 992px) {
    .dc-sidebar{
        width: 9.375rem;
    }
    
}